spice_cmd            smartspice -b sp.in -o sp.out
spice_init           init.sp
cell_dir             /fs/designs/nec1/models/m9
slew_def_low         0
slew_def_high        100
delay_meas           49.873
slew_meas_rise_low   40.782
slew_meas_rise_high  58.964
slew_meas_fall_low   40.782
slew_meas_fall_high  58.964
vdd                  1.1
temp                 125
